<div class="row">
    <h1><%= @place.name %></h1>
</div>
<div class="row">
  <% for post in @place.posts %>
    <% if @current_user.id ==post.user_id %> 
     <div class="col-sm-4"> 
        <h3><%= post.title %></h3>
        <h5><%= post.posted_on %></h5>
     
        <% if post.image.attached? %>
            <img src="<%= url_for(post.image) %>" class="img-fluid">
        <% else %>
           <img src="/images/No_Picture.jpg" class="img-fluid">
        <% end %>
        
        <p><%= post.description %></p>

    </div> 

    <% end %>
  <% end %>
</div>

<div class="row">
  <h5>
     <a class="btn btn-primary" href="/posts/new?place_id=<%= @place.id %>" role="button">New Post</a>
  </h5>
</div>

<div class="row">
  <h5>
     <a class="btn btn-success" href="/places" role="button">Back to All Places</a>
  </h5>
</div>